@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
body {

  }
  @import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;400&display=swap");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "M PLUS 1p", sans-serif;
  }
  .main{
    position: relative;
    background-image: url("/isinomaki-map.jpg");
    background-size: cover;
  }
  .map{
    /* position: relative; */
  }
  .button {
    position: absolute;
    border: none;
    width: 100px;
    right: 0;
    left: 400px;
    top: 200px;
    background: none;
  }
  .sidebar {
    left: -250px; 
    background: rgb(255, 255, 255);
    width: 250px;
    height: 100%;
    transition: all 0.5s;
    position: relative;
  }
  
  .sidebar header {
    font-size: 22px;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 70px;
    background: rgb(255, 255, 255);
    user-select: none;
  }
  
  .sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding-left: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black;
    transition: 0.4s;
  }
  
  ul li:hover a {
    padding-left: 50px;
  }
  
  .sidebar ul a i {
    margin-right: 16px;
  }
  
  #check {
    display: none;
  }
  
  label #btn,
  label #cancel {
    position: absolute;
    cursor: pointer;
    background: #000000;
    border-radius: 3px;
  }
  
  label #btn {
    left: 40px;
    top: 25px;
    font-size: 25px;
    color: #fff;
    padding: 6px 12px;
    transition: all 0.5s;
  }
  
  label #cancel {
    z-index: 10;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #fff;
    padding: 4px 9px;
    transition: all 0.5s;
  }
  
  #check:checked ~ .sidebar {
    left: 0;
    pointer-events: none; /* アニメーションを止める */
  }
  
  #check:checked ~ label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
  }
  
  #check:checked ~ label #cancel {
    left: 195px;
  }
  
  #check:checked ~ section {
    margin-left: 250px;
  }
  
  section {
    height: 100vh;
    background: url("./bg.jpg");
    background-size: cover;
    background-position: center;
    transition: all 0.5s;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;
  }
  
  @keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
  }
  
  .modal-header h1 {
    margin: 1rem 0;
  }
  
  .modal-header {
    background: lightblue;
    padding: 3px 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .modalClose {
    font-size: 2rem;
  }
  
  .modalClose:hover {
    cursor: pointer;
  }
  
  .modal-body {
    padding: 10px 20px;
    color: black;
  }
